In [1]:
from DecisionTree import *
import pandas as pd
from TV_examine.model_assessment import divide_data

## 读取数据集
可以看到数据为离散型

In [2]:
data = pd.read_table("/Users/huangzhuoxi/Documents/工作室考核/qg/中期考核/数据集/lense/lenses.txt", header=None, delim_whitespace=True)
data = data.drop(0, axis=1)
data

    1  2  3  4  5
0   1  1  1  1  3
1   1  1  1  2  2
2   1  1  2  1  3
3   1  1  2  2  1
4   1  2  1  1  3
5   1  2  1  2  2
6   1  2  2  1  3
7   1  2  2  2  1
8   2  1  1  1  3
9   2  1  1  2  2
10  2  1  2  1  3
11  2  1  2  2  1
12  2  2  1  1  3
13  2  2  1  2  2
14  2  2  2  1  3
15  2  2  2  2  3
16  3  1  1  1  3
17  3  1  1  2  3
18  3  1  2  1  3
19  3  1  2  2  1
20  3  2  1  1  3
21  3  2  1  2  2
22  3  2  2  1  3
23  3  2  2  2  3

## 数据划分
使用留出法划分数据集，比例为4：1

In [3]:
X_train, X_test, y_train, y_test = divide_data.train_test_split(data.values[:, :-1], data.values[:, -1], 0.2)

## id3决策树
id3决策树建立与预测如下，准确率就没算了数据太少，一眼可以看出

In [4]:
id3 = DecisionTree()
id3.fit(X_train, y_train)
res = id3.predict(X_test)

特征集和类别: [0, 1, 2, 3, 4]
0 0.07346052745146414
1 0.03394584870389483
2 0.42250970880669325
3 0.49252708671426615
选择特征： 3
特征集和类别: [0, 1, 2, 4]
0 0.3799495294620956
1 0.05180039542238557
2 0.7435858930984593
选择特征： 2
特征集和类别: [0, 1, 4]
0 0.3166890883150208
1 0.19087450462110933
选择特征： 0
特征集和类别: [1, 4]
1 1.0
选择特征： 1
特征集和类别: [0, 1, 4]
0 0.5709505944546686
1 0.4199730940219749
选择特征： 0
特征集和类别: [1, 4]
1 1.0
选择特征： 1

In [5]:
res, y_test

([3, 3, 3, 3, 3], array([3, 3, 3, 1, 3]))

## C4.5决策树

In [6]:
c4 = DecisionTree()
c4.fit(X_train, y_train, type='C4.5')
res = c4.predict(X_test)
res, y_test

特征集和类别: [0, 1, 2, 3, 4]
0 0.04803136304728593
1 0.03457015856557245
2 0.42335604670742555
3 0.5015853229675781
选择特征： 3
特征集和类别: [0, 1, 2, 4]
0 0.2416023224024335
1 0.05211148999729009
2 0.748051602972529
选择特征： 2
特征集和类别: [0, 1, 4]
0 0.1998085684493656
1 0.19087450462110933
选择特征： 0
特征集和类别: [1, 4]
1 1.0
选择特征： 1
特征集和类别: [0, 1, 4]
0 0.37514952012034747
1 0.4325380677663126
选择特征： 1
特征集和类别: [0, 4]
0 0.579380164285695
选择特征： 0

([3, 3, 3, 1, 3], array([3, 3, 3, 1, 3]))

## CART决策树
1. 首先是分类树，对鸢尾花数据集进行分类

In [7]:
from CART import *
import numpy as np
from sklearn.datasets import load_iris
iris = load_iris()

In [8]:
X_train, X_test, y_train, y_test = divide_data.train_test_split(iris.data, iris.target, 0.2)

In [9]:
cart = DecisionTree_CART()
cart.fit(X_train, y_train)
res = cart.predict(X_test)
print("Accuracy:", np.sum(res==y_test) / len(res))

Accuracy: 0.8333333333333334

2. 然后是回归树

In [10]:
data = pd.read_csv("/Users/huangzhuoxi/Documents/工作室考核/qg/中期考核/数据集/forestfires/forestfires.csv")
data

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

### 数据的预处理
可以看到，除了month和day其他均为连续数据，可以有以下操作：
1. 发现rain处几乎均为0，计算其方差，判断是否可以剔除
2. 将连续型数据离散化，其划分线公式为$$\frac{a_i+a_{i+1}}{2}$$
3. 将month与day的数据也变成数值

In [11]:
data = data.values
np.var(data[:, -2]) #果然太小了 考虑剔除

0.08742237802528356

In [12]:
data1 = load_data(data, (2,3))
data2 = cut_data(data, range(4, 11))
X = np.hstack((data[:, :2], data1, data2))
y = data[:, -1]
X

array([[7, 5, 7, ..., 12, 34, 14],
       [7, 4, 10, ..., 85, 16, 1],
       [7, 4, 10, ..., 55, 16, 2],
       ...,
       [7, 4, 1, ..., 116, 53, 14],
       [1, 4, 1, ..., 156, 25, 8],
       [6, 3, 9, ..., 34, 14, 9]], dtype=object)

In [13]:
X_train, X_test, y_train, y_test = divide_data.train_test_split(X, y, 0.2)
cart = DecisionTree_CART(tree_type='reg')
cart.fit(X_train, y_train)
pr = cart.predict(X_test)
ass = reg.reg_assessment(pr, y_test)
ass.assessment()

均方误差（MSE）： 862.5604040865384
平均绝对误差（MAE）： 13.382644230769232
均方根误差（RMSE）： 29.369378680635013
平均绝对百分比误差（MAPE）： nan
R平方： 0.9881742834676898

/Users/huangzhuoxi/opt/anaconda3/lib/python3.7/site-packages/TV_examine/model_assessment/reg.py:43: RuntimeWarning: divide by zero encountered in true_divide
  self.MAPE = np.sum(np.abs((self.y_predict - self.y_test) / self.y_test)) / len(self.y_predict)
/Users/huangzhuoxi/opt/anaconda3/lib/python3.7/site-packages/TV_examine/model_assessment/reg.py:43: RuntimeWarning: invalid value encountered in true_divide
  self.MAPE = np.sum(np.abs((self.y_predict - self.y_test) / self.y_test)) / len(self.y_predict)