In [1]:
import pymysql
conn = pymysql.connect(host='localhost', user='root', password='asdfghjkl12', port=3306)
cursor = conn.cursor()

## 创建数据库
使用sql语句`CREATE DATABASE IF NOT EXISTS demo`创建一个名为demo的数据库，结果如下。
![](./image/3-1.png)

In [2]:
sql = "CREATE DATABASE IF NOT EXISTS demo"
cursor.execute(sql)

1

## 生成表
使用`CREATE TABLE students` 创建一个名为students的表，其中：
- 如果不想字段为NULL则设置字段属性为NOT NULL，操作时如果输入NULL则报错
- AUTO_INCREMENT定义列为自增的属性，一般用于主键，数值会自动加1。
- PRIMARY KEY关键字用于定义列为主键。
- ENGINE 设置存储引擎，CHARSET 设置编码。
结果如下：
![](./image/3-2.png)

In [3]:
conn = pymysql.connect(host='localhost', user='root', password='asdfghjkl12', database='demo', port=3306)
cursor = conn.cursor()

sql = '''CREATE TABLE `students` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `name` char(20) NULL,
  `school` char(20) NULL,
  `sex` char(2),
  `age` INT NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
'''
cursor.execute(sql)

/Users/huangzhuoxi/opt/anaconda3/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

0

## INSERT语句
使用`insert into students`在students表中插入数据，后接列名，表插入在哪一列。values为插入的值为多少。
**每次插入、删除和更新，都要执行commit()操作**，效果如下：
![](./image/3-3.png)

In [4]:
sql = """
insert into students(id, name, school, sex, age) values(1, '蔡徐坤', 'GDUT', '鸡', 25)
"""
cursor.execute(sql)

1

#### 若填入变量值，则在values中用%s（不要用%d！无论输入的是什么类型都必须是%s）。然后再execute中传入值的元组。

In [5]:
sql = """
insert into students(id, name, school, sex, age) values(%s, %s, %s, %s, %s)
"""
cursor.execute(sql,(2, 'Donald Trump', 'GDUT', '男', 73))

1

#### 当然列表也可

In [6]:
sql = """
insert into students(id, name, school, sex, age) values(%s, %s, %s, %s, %s)"""
c = [3, '希特勒', 'GDUT', '男', 50]
cursor.execute(sql, c)
conn.commit()

## SELECT语句
使用select语句查询数据，`select 列名 from 表名 where 查询条件`
- 可以查询一个或多个表，表之间用逗号分隔
- 可以用*代替其他字段，将返回表的所有字段数据
- 可以使用where语句包含任何条件
- 使用limit属性设定返回的记录数。
fetchone返回第一个元素的元组，fetchmamy(n)返回n个元素的元组，fetchall返回所有元素的元组。

In [7]:
sql = """
select * from students
"""
cursor.execute(sql)
result = cursor.fetchall()
result

((1, '蔡徐坤', 'GDUT', '鸡', 25),
 (2, 'Donald Trump', 'GDUT', '男', 73),
 (3, '希特勒', 'GDUT', '男', 50))

In [8]:
sql = """
select name from students where sex='男'
"""
cursor.execute(sql)
cursor.fetchone()

('Donald Trump',)

## DELETE语句
使用delete语句删除数据，`delete from 表名 where 查询条件`
- 如果没有指定 WHERE 子句，MySQL 表中的所有记录将被删除。
- 可以在 WHERE 子句中指定任何条件。
- 可以在单个表中一次性删除记录。
效果如下：
![](./image/3-4.png)

In [9]:
sql = """
delete from students where id=1"""
cursor.execute(sql)
conn.commit()

## UPDATE语句
使用update语句可以更新数据，`update 表名 set 列名=新数据 where 查询条件`
- 可以同时更新一个或多个字段。
- 可以在 WHERE 子句中指定任何条件。
- 可以在一个单独表中同时更新数据。
效果如下：
![](./image/3-5.png)

In [10]:
sql = """
update students set school='MIT' where name='Donald Trump'"""
cursor.execute(sql)
conn.commit()

In [11]:
sql = """
update students set age=0""" # 没指定就是全选
cursor.execute(sql)
conn.commit()

#### 加点数据hhh

In [12]:
a = [('蔡徐坤', 'GDUT', '鸡', '25'), 
     ('卫兰', 'GDUT', '女', '30'),
     ('杨千嬅', 'GDUT', '女', '35')]
for i in a:
    sql = """
    insert into students(name, school, sex, age) values(%s, %s, %s, %s)
    """
    cursor.execute(sql, i)
conn.commit()

## ORDER BY排序
使用order by排序，`order by 列名 asc/desc`
- 可以使用任何字段来作为排序的条件，从而返回排序后的查询结果。
- 可以设定多个字段来排序。
- 可以使用 ASC 或 DESC 关键字来设置查询结果是按升序或降序排列。 默认情况下，它是按升序排列。
- 可以添加 WHERE...LIKE 子句来设置条件。

In [14]:
sql = """
select * from students order by age asc
"""
cursor.execute(sql)
cursor.fetchall()

((2, 'Donald Trump', 'MIT', '男', 0),
 (3, '希特勒', 'GDUT', '男', 0),
 (4, '蔡徐坤', 'GDUT', '鸡', 25),
 (5, '卫兰', 'GDUT', '女', 30),
 (6, '杨千嬅', 'GDUT', '女', 35))

In [15]:
sql = """
select * from students order by id desc
"""
cursor.execute(sql)
cursor.fetchall()

((6, '杨千嬅', 'GDUT', '女', 35),
 (5, '卫兰', 'GDUT', '女', 30),
 (4, '蔡徐坤', 'GDUT', '鸡', 25),
 (3, '希特勒', 'GDUT', '男', 0),
 (2, 'Donald Trump', 'MIT', '男', 0))

#### 找前两个最小的

In [16]:
sql = """
select * from students order by age asc limit 2
"""
cursor.execute(sql)
cursor.fetchall()

((2, 'Donald Trump', 'MIT', '男', 0), (3, '希特勒', 'GDUT', '男', 0))

#### 先把id列升序，在此前提下把age列降序（不过数据不多，没什么用

In [17]:
sql = """
select * from students order by id asc, age desc
"""
cursor.execute(sql)
cursor.fetchall()

((2, 'Donald Trump', 'MIT', '男', 0),
 (3, '希特勒', 'GDUT', '男', 0),
 (4, '蔡徐坤', 'GDUT', '鸡', 25),
 (5, '卫兰', 'GDUT', '女', 30),
 (6, '杨千嬅', 'GDUT', '女', 35))